/*


morado
#8c17c2

#270636
#070109
oscuro

*/

html{
    margin: 0;
    background-color: #070109;
}
body{
    margin: 0;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: #070109;
}

div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, input, video {
    color: azure;
    margin: 0;
    background-color: none;
}

h1, h2 {
    padding-top: 0.5em;
    font-size: 5em;
    letter-spacing: 0.1em;
    font-weight: 200;
    margin-bottom: 0.5em;

}

p {
    font-size: 1.5em;
    text-align: left;
    margin-top: 0.9em;
    padding-left: 10px;
} 

label{
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1em;
    color: azure;
    padding: 1em;
    transition: 0.2s;
    border: none;
    border-radius: 5px;
    margin-bottom: 2em;
    overflow: hidden;
}   
input{
    margin: 0.4em;
    text-align: left;
    background-color: transparent;
    font-size: 1.5em;
    color: azure;
    transition: 0.2s;
    border: none;
    font-size: 1.8em;
    line-height: 1.5;
} 
input:focus, textarea:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
    border-bottom: 4px solid;
    border-color: #8c17c2;
}

input[type="checkbox"], input[type="checkbox"]:focus {
    cursor: default;
    background-color: #5c5a5c;
    outline-style: none;
    border: 3px solid;
    border-color: azure;
    box-shadow: none;
    font-size: 1.5em;
    transform: scale(1.2);
    transition: none;
    margin: 1.2em 0.2em;
}
input[type="checkbox"]:checked {
    background-color: #8c17c2;
    border: none;
    outline: none;
    box-shadow: none;
    outline:0;

    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}

button{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: azure;
    padding: 1em;
    transition: 0.2s;
    border: none;
    margin: 2em 0;
    overflow: hidden;
}   

button:hover {
    background-color: azure; /* Green */
    color: rgb(20, 5, 5);
    cursor: pointer;
  }

  a {
    font-size: 1.5em;
    text-align: left;
    margin: 1em;
    padding: 0.6em 1.2em 0.6em 1em;
    text-decoration: none;
    
}
a:active, a:hover{
    color: azure;
    background-color: #8c17c2;
}

  
.fromdiv {
    margin-bottom: 4em ;
    padding: 0 2em 0 2em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}   
  
.espacio-bottom {
    padding-bottom: 2em;
}   